language: android
jdk: oraclejdk8
android:
  components:
    - tools
    - platform-tools
    - build-tools-23.0.3
    - android-23
      #- sys-img-${ANDROID_ABI}-${ANDROID_TARGET}
    - sys-img-armeabi-v7a-android-23
    - extra-google-google_play_services
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support
  licenses:
    - android-sdk-preview-license-52d11cd2
    - android-sdk-license-c81a61d9
    - android-sdk-license-.+
    - google-gdk-license-.+
  script:
    - ./gradlew build jacocoTestReport assembleAndroidTest
    - echo no | android create avd --force -n test -t android-23 --abi armeabi-v7a
    - emulator -avd test -no-skin -no-audio -no-window &
    - android-wait-for-emulator
    - adb shell setprop dalvik.vm.dexopt-flags v=n,o=v
    - ./gradlew connectedCheck
  after_success:
    - bash <(curl -s https://codecov.io/bash)
