jdk: oraclejdk8
language: android
env:
  global:
    - ANDROID_API_LEVEL=23
    - ANDROID_BUILD_TOOLS_VERSION=23.0.3
    - ANDROID_ABI=armeabi-v7a
android:
  components:
    - tools
    - platform-tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$ANDROID_API_LEVEL
    - sys-img-$ANDROID_ABI-google_apis-23
    - extra-google-google_play_services
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support
before_script:
  - echo no | android create avd --force -n test -t android-21 --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell setprop dalvik.vm.dexopt-flags v=n,o=v
    #- adb shell input keyevent 82 &
before_install:
  - "chmod +x gradlew"
  - npm install -g nodemon
  - "cd js/firebase-server"
  - npm install
  - nodemon server.js &
  - "cd -"
script:
  - ./gradlew build connectedCheck jacocoTestReport --stacktrace
after_success:
  - bash <(curl -s https://codecov.io/bash)
