jdk: oraclejdk8
language: android
env:
  global:
    - ANDROID_API_LEVEL=23
    - ANDROID_BUILD_TOOLS_VERSION=23.0.3
    - ANDROID_ABI=google_apis/armeabi-v7a
    - ANDROID_TAG=google_apis
android:
  components:
    - tools
    - platform-tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-ANDROID_ABI
    - sys-img-armeabi-v7a-google_apis-23
    - extra-google-google_play_services
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support
  licenses:
    - android-sdk-preview-license-52d11cd2
    - android-sdk-license-c81a61d9
    - android-sdk-license-.+
    - google-gdk-license-.+
before_script:
  - android list targets
  - echo no | android create avd --force -n test -t android-21 --abi $ANDROID_ABI --tag $ANDROID_TAG
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell setprop dalvik.vm.dexopt-flags v=n,o=v
    #- adb shell input keyevent 82 &
before_install:
    - "chmod +x gradlew"
script:
  - ./gradlew build jacocoTestReport --stacktrace
after_success:
  - bash <(curl -s https://codecov.io/bash)
