<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufg.pes.healthhelp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/health_help_icone_verde"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.ufg.inf.pes.healthhelp.view.LocaisAtendimentoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.ufg.inf.pes.healthhelp.view.LocalAtendimentoActivity" />
        <activity android:name="br.ufg.inf.pes.healthhelp.view.NovoLocalAtendimentoActivity"></activity>
    </application>

</manifest>